{% extends "localsdirectory/base.html" %}
{% block content %}
<section class="hero-section set-bg" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-text">
                    	<h1 style="color: black;">Add Customer</h1>
                    	<form method="post"> {% csrf_token %}
                    		Name:<input type="text" name="customer_name"><br>
                    		Address:<input type="text" name="customer_address"><br>
                    		Phone:<input type="text" name="customer_phone"><br>
                    		Type:<select name="customer_type">
                    			<option value="government">Government</option>
                    			<option value="private">Private</option>
                    			<option value="non_government">Non Government</option>
                    		</select><br>
                    		ID:<input type="text" name="customer_id"><br>
                    		<button type="submit">Add customer</button><br>
                    	</form>
                    </div>
                </div>
    </section>
{% endblock %}

