{% extends "localsdirectory/base.html" %}
{% load static from static %}
{% block content %}
<section class="hero-section set-bg" data-setbg="{% static 'img/bg.jpg' %}"
         style="color:#ffffff; padding:15% 5% 5% 5%; background-size:100%; background-repeat: repeat;">
        <div class="container" style="width:40%;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-text" align="center">
                    	<h1 style="color: white;font-size: 200%;">Add Customer</h1>
                    	<form method="post"> {% csrf_token %}
                    		<input class="form-control" type="text" name="customer_name" placeholder="Name" pattern="[a-zA-Z]{2,}" required="required"><br>
                    		<input class="form-control" type="text" name="customer_address" placeholder="Address" pattern="[a-zA-Z]{2,}" required="required"><br>
                    		<input class="form-control" type="text" name="customer_phone" placeholder="Phone" pattern="[6-9]{1}[0-9]{9}" title="Number can only contain 10 digits" maxlength="10" required="required"><br>
                    		<select class="form-control" name="customer_type" required="required">
                    			<option value="government">Government</option>
                    			<option value="private">Private</option>
                    			<option value="non_government">Non Government</option>
                    		</select><br>
                    		<input class="form-control" type="text" name="customer_id" placeholder="ID" pattern="[a-zA-Z0-9]{2,}" required="required"><br>
                    		<button class="primary-btn" type="submit">Add customer</button><br>
                    	</form>
                    </div>
                </div>
    </section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}

