<!DOCTYPE html>
<html>
<head>
	<title>Janambhumi</title>
</head>
<body>
<h1>Add Customer</h1>
<form action="" method="">
	Name:<input type="text" name="customer_name"><br>
	Address:<input type="text" name="customer_address"><br>
	Phone:<input type="text" name="customer_phone"><br>
	Type:<select>
		<option value="government">Government</option>
		<option value="private">Private</option>
		<option value="non_government">Non Government</option>
	</select><br>
	ID:<input type="text" name="customer_id"><br>
	<button>Add customer</button><br>
</form>
</body>
</html>