{% extends "localsdirectory/base.html" %}
{% load static from static %}
{% block content %}
<section class="hero-section set-bg" data-setbg="{% static 'img/bg.jpg' %}"
         style="height: auto; color:#ffffff; padding:15% 5% 5% 5%; background-size:100%; background-repeat: repeat;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-text">
                        <h1 style="color:white;font-size: 300%">Add Advertisement</h1>
                        <table class="table-hover" style=" background-color:rgba(0,0,0,0.6); margin:10px 100px auto auto;" width="100%">
                        <form method="post"> {% csrf_token %}
                            <tr><td>Customer Name:</td><td><select class="form-control" name="customer_name" id="customer_name" onchange="myfunct(this)">
                                <option>--select--</option>
                                {% for c in name %}
                                <option value="{{ forloop.counter }}">{{c}}</option>
                                {% endfor %}
                            </select><br></td></tr>
                            <tr><td>Customer ID:</td><td><input class="form-control" type="text" id="customer_id" name="customer_id" disabled><br></td></tr>
                            <tr><td>Display From:</td><td><input class="form-control" type="date" name="disp_from"><br></td></tr>
                            <tr><td>Display Till:</td><td><input class="form-control" type="date" name="disp_till"><br></td></tr>
                            <tr><td>Header:</td><td><input class="form-control" type="text" name="ad_header"><br></td></tr>
                            <tr><td>Height:</td><td><input class="form-control" type="text" name="ad_height"><br></td></tr>
                            <tr><td>Width:</td><td><input class="form-control" type="text" name="ad_width"><br></td></tr>
                            <tr><td>Page Number(optional):</td><td><input class="form-control" type="number" name="ad_page"><br></td></tr>
                        </table><p></p>
                        <button class="primary-btn" type="submit">Send for approval</button>
                        </form>
                    </div>
                    </div>
                </section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
    function myfunct(obj)
    {
    var index=obj.value;
    {% for i in id %}
    var j="{{forloop.counter}}";
    console.log(j);
        {% if j == index %}
        console.log("i "+index)
        document.getElementById('customer_id').value={{i}};
        {% endif %}
    {% endfor %}
    }

    </script>
{% endblock %}
