<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Prices</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <table border="2">
        <th>Customer Type</th>
        <th>Price per unit</th>
        <th>Options</th>
        {% for p in prices %}
        <tr>
            <td>{{p.cust_type}}</td>
            <td><input id={{p.id}}, name={{p.id}} value="{{p.price}}"></td>
            <td><a href="/delete_cust_type/{{p.id}}">Remove</a></td>
        </tr>
        {% endfor %}
        <tr><td><input id="cus_type" , name="cus_type" placeholder="add customer"></td><td><input id="cus_price" , name="cus_price"
                                                                                                  placeholder="add price"></td></tr>
    </table>
    <button type="submit" value="OK">submit</button>
    <p>
        <a href="/view_prices">View Price</a>
</form>
</body>
</html>