<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ads Management</title>
</head>
<body>
<h2>OPTIONS</h2>
<ul>
    <li><a href="/edit_prices">Edit prices</a></li>
    <li><a href="/view_prices">View prices</a></li>
    <li><a href="/add_customer">Add customer</a></li>
    <li><a href="/view_customers">View customers</a></li>
    <li><a href="/add_advert">Add advertisement</a></li>
    <li><a href="/view_adverts">View advertisements</a></li>
    <li><a href="/billing">Billing</a></li>
</ul>

</body>
</html>