<!DOCTYPE html>
<html lang="en">
<!-- <meta id="ad_id" data-id="{{ads.id|safe}}"> -->
<head>
    <meta charset="UTF-8">
    <title>Pay Bills</title>
</head>
<body>
<br>
<a href="/">HOME</a><br><br>
<table>

    <table border="3">
        <form method="post"> {% csrf_token %}
            <tr>
                <td>Customer Name:</td>
                <td><select id="customer_name" name="customer_name" onchange="myfunct(this)">
                    <option>--select--</option>
                    {% for c in cust %}
                    <option value={{c.cust_id}}>{{c.cust_name}}</option>
                    {% endfor %}
                </select><br></td>
            </tr>
            <tr>
                <td>Customer ID:</td>
                <td><input id="customer_id" name="customer_id" type="text"><br></td>
            </tr>
    </table>
    <p></p>
    <button type="submit">Generate Bill</button>
    </form><br><br>
    <table align="center">
        <tr>
            <td>CUSTOMER NAME</td>
            <td>: {{bill.0.cust_name}}</td>
        </tr>
        <tr>
            <td>CUSTOMER ID</td>
            <td>: {{bill.0.cust_id}}</td>
        </tr>
    </table>
    <br>
    <br><br>
    <form action="pay_bills/{{bill.0.cust_id}}" method="POST">
    {% csrf_token %}
        <table align="center" border="1">
            <tr>
                <th>
                    Enter Amount:
                </th>
                <td>
                    <input id="amount" name="amount" type="number">
                </td>
            </tr>
            <tr>
                <th>
                    Enter Payment Mode:
                </th>
                <td>
                    <input id="mode" name="mode" type="text">
                </td>
            </tr>
            <tr>
                <td height="50px" colspan="2" align="center"><button type="submit">SUBMIT</button></td>
            </tr>
        </table>
    </form>
    <br><br><br>
    <h2 align="center">PREVIOUS PAYMENT DETAILS</h2>
    <form method="POST">
        <table align="center" border="5" width="40%">
            <tr>
                <th>
                    Amount Due:
                </th>
                <td>
                    {{amount_due}}
                </td>
            </tr>
            <tr>
                <th>
                    Amount Paid:
                </th>
                <td>
                    {{amount_paid}}
                </td>
            </tr>
            <tr>
                <th>
                    Last Payment Date:
                </th>
                <td>
                    {{payment_date}}
                </td>
            </tr>
            <tr>
                <th>
                    Last Payment Mode:
                </th>
                <td>
                    {{payment_mode}}
                </td>
            </tr>
        </table>

    </form>
    <br>
    <h2 align="center">BILL DETAILS</h2>
    <table align="center" border="3" id="bill_table" onload="grand()" width="100%">
        <th>Ad ID</th>
        <th>Heading</th>
        <th>From</th>
        <th>Till</th>
        <th>Page No</th>
        <th>Price(tax exclusive)</th>
        <th>GST</th>
        <th>TOTAL</th>
        {% for i in bill %}
        <tr>
            <td>{{i.ad_id}}</td>
            <td>{{i.ad_header}}</td>
            <td>{{i.ad_date_from}}</td>
            <td>{{i.ad_date_till}}</td>
            <td>{{i.ad_page}}</td>
            <td>{{i.price}}</td>
            <td>{{i.gst}}</td>
            <td>{{i.total}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>

    <table align="right" border="0">
        <td>
            GRAND TOTAL:
        </td>
        <td><p align="left" id="grand_total" style="padding-right: 20px;font-weight: bold;">0</p></td>
    </table>

</body>
</html>

<script>
    window.onload=grand;
    function myfunct(obj)
    {
    var id=obj.value;
    document.getElementById('customer_id').value=id;
    }
    function grand(){
    	var sum = 0;
    	var x = document.getElementById("bill_table").rows;
    	for(var i=1;i<x.length;i++){
    		sum+=parseFloat(x[i].cells[7].innerHTML);
    	}
    	x = document.getElementById("grand_total");
    	x.innerHTML = sum;

    }


</script>