{% extends "localsdirectory/base.html" %}
{% load static from static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" type="text/css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css" type="text/css">
<style>
    thead input {
        width: 100%;
    }
    table{
    opacity:.97;
    }
    td {
    background-color: rgba(0,0,0,.7);
    }

input::placeholder {
  font-size:14px;
}
    th, td {
  padding: 20px 5%;
  text-align: left;

</style>
<section class="hero-section set-bg " data-setbg="{% static 'img/bg.jpg' %}"
         style="height:auto; color:#ffffff; padding:5% 5%; background-size:100%;">
    <div style="padding-top:8%; padding-bottom:8%;">
        <div class="hero-text">
            <h1 style="color: white; margin:50px 0px 80px 80px;">
                Bill Payment
            </h1>
        </div>
        <br>

        <table class="table-hover"
               style="text-align:center; background-color:rgba(0,0,0,0.6); margin:0px 50px 50px 50px;"
               width="90%;table-layout:fixed;">
            <form method="post"> {% csrf_token %}
                <tr>
                    <td width="33%">Customer Name:
                        <select class="form-control" id="customer_name" name="customer_name" onchange="myfunct(this)">
                            <option>--select--</option>
                            {% for c in cust %}
                            <option value={{c.cust_id}}>{{c.cust_name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>Customer ID:<input class="form-control" id="customer_id" name="customer_id" type="text"></td>
                    <td width="25%">
                        <button class="primary-btn"
                                style="font-size:20px; padding:20px 20px; border: 1px solid #FF5581;" type="submit">
                            View Bills
                        </button>
                    </td>
                </tr>
        </table>
        {% if bill is not none %}
        <div id="result">
            <p></p>
            </form><br><br>
            <div class="container" style="width:50%; padding-top:5%;">
                <form action="pay_bills/{{bill.0.cust_id}}" method="POST">
                    <table align="center" class="table table-hover" id="result"
                           style=" padding:0px; margin:100px auto; background-color:rgba(0,0,0,0.6);" width="400px">
                        <tr>
                            <td>CUSTOMER NAME</td>
                            <td>: {{bill.0.cust_name}}</td>
                        </tr>
                        <tr>
                            <td>CUSTOMER ID</td>
                            <td>: {{bill.0.cust_id}}</td>
                        </tr>
                        {% csrf_token %}
                        <tr>
                            <th>
                                Enter Amount:
                            </th>
                            <td>
                                <input class="container" id="amount" name="amount" type="number">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Enter Payment Mode:
                            </th>
                            <td>
                                <input class="container" id="mode" name="mode" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2" height="50px">
                                <button class="container primary-btn"
                                        style="font-size:20px; padding:20px 20px; border: 1px solid #FF5581;"
                                        type="submit">SUBMIT
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <br><br><br>
            <div CLASS="container" style="background-color:rgba(0,0,0,0.6); width:50%; padding:20px;">
                <h2 align="center" style="color:white;">PREVIOUS PAYMENT DETAILS</h2>
                <form method="POST">
                    <table align="center" class="table table-hover" width="100%">
                        <tr>
                            <th>
                                Amount Due:
                            </th>
                            <td>
                                {{amount_due}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Amount Paid:
                            </th>
                            <td>
                                {{amount_paid}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Last Payment Date:
                            </th>
                            <td>
                                {{payment_date}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Last Payment Mode:
                            </th>
                            <td>
                                {{payment_mode}}
                            </td>
                        </tr>
                    </table>

                </form>
            </div>
            <br>
            <div class="container" style="padding:20% 0px 0px 0px;">
                <h2 align="center" style="color:white;">BILL DETAILS</h2>
                 <div style="background-color:rgba(255,255,255,0.6); padding:20px 50px">
                <table align="center" class="table table-hover" id="bill_table" onload="grand()"
                       style="background-color:rgba(0,0,0,0.6);" width="100%">
                    <thead class="thead-dark">
                    <th>Ad ID</th>
                    <th>Heading</th>
                    <th>From</th>
                    <th>Till</th>
                    <th>Page No</th>
                    <th>Price(tax exclusive)</th>
                    <th>GST</th>
                    <th>TOTAL</th>
                    </thead>
                    {% for i in bill %}
                    <tr>
                        <td>{{i.ad_id}}</td>
                        <td>{{i.ad_header}}</td>
                        <td>{{i.ad_date_from}}</td>
                        <td>{{i.ad_date_till}}</td>
                        <td>{{i.ad_page}}</td>
                        <td>{{i.price}}</td>
                        <td>{{i.gst}}</td>
                        <td>{{i.total}}</td>
                    </tr>
                    {% endfor %}
                </table>
                 </div>
            </div>
            <p align="right" style="font-size:20px; padding-right: 20px;font-weight: bold; color:white;">GRAND TOTAL:</p>
                    <p align="right" id="grand_total"
                           style="font-size:30px; padding-right: 20px;font-weight: bold; color:white;">0</p>
            {% endif %}
        </div>
    </div>
</section>
{% if schedule != '' %}
<script>
   var elmnt = document.getElementById("result");
    elmnt.scrollIntoView();



</script>
{% endif %}
{% if bill is not none %}
<script>
    grand();
    function grand(){
    	var sum = 0;
    	var x = document.getElementById("bill_table").rows;
    	for(var i=1;i<x.length;i++){
    		sum+=parseFloat(x[i].cells[7].innerHTML);
    	}
    	x = document.getElementById("grand_total");
    	x.innerHTML = sum;

    }

</script>
{% endif %}
<script>
    function myfunct(obj)
    {
    var id=obj.value;
    document.getElementById('customer_id').value=id;
    }

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
<script>
    $(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#bill_table thead tr').clone(true).appendTo( '#bill_table thead' );
    $('#bill_table thead tr:eq(1) th').each( function (i) {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );

        $( 'input', this ).on( 'keyup change', function () {
            if ( table.column(i).search() !== this.value ) {
                table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );

    var table = $('#bill_table').DataTable(
    {
        orderCellsTop: true,
        fixedHeader: true
    } );
} );
  var table = $('#bill_table').DataTable(
    {
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td', nRow).css('background-color','255,255,255');
        }
    }
        );
table.destroy();
</script>
{% endblock %}