{% extends "localsdirectory/base.html" %}
{% load static from static %}
{% block content %}
<style>
    th, td {
  padding: 20px 5%;
  text-align: left;
</style>
<section class="hero-section set-bg " data-setbg="{% static 'img/bg.jpg' %}"
         style="height:auto; color:#ffffff; padding:5% 5%; background-size:100%;">
    <div style="padding-top:8%; padding-bottom:8%;">
        <div class="hero-text">
        <h1 style="color: white; margin:50px 0px 80px 80px;">
                        View Bills
                    </h1>
        </div>
        <br>

        <table class="table-hover"
               style="text-align:center; background-color:rgba(0,0,0,0.6); margin:0px 50px 50px 50px;"
               width="90%;table-layout:fixed;">
            <form method="post"> {% csrf_token %}
                <tr>
                    <td width="33%">Customer Name:
                        <select class="form-control" id="customer_name" name="customer_name" onchange="myfunct(this)">
                        <option>--select--</option>
                        {% for c in cust %}
                        <option value={{c.cust_id}}>{{c.cust_name}}</option>
                        {% endfor %}
                        </select>
                    </td>
                    <td>Customer ID:<input class="form-control" id="customer_id" name="customer_id" type="text"></td>
                    <td width="25%">
                        <button class="primary-btn" style="font-size:20px; padding:20px 20px; border: 1px solid #FF5581;" type="submit">
                            View Bills
                        </button>
                    </td>
                </tr>
        </table></form>
        {% if bill is not none %}
        <div id="result">
            <p></p>
            <br><br>
            <br><br><br>
            <br>
        <div class="container" style="padding:0% 0px 0px 0px;">
            <h2 align="center" style="color:white;">BILL DETAILS</h2>
            <table class="table table-hover" style="background-color:rgba(0,0,0,0.6);" align="center" id="bill_table" width="100%">
                <thead class="thead-dark">
                <th>Ad ID</th>
                <th>Heading</th>
                <th>From</th>
                <th>Till</th>
                <th>Page No</th>
                <th>Price(tax exclusive)</th>
                <th>GST</th>
                <th>TOTAL</th>
                {% for i in bill %}
                <tr>
                    <td>{{i.ad_id}}</td>
                    <td>{{i.ad_header}}</td>
                    <td>{{i.ad_date_from}}</td>
                    <td>{{i.ad_date_till}}</td>
                    <td>{{i.ad_page}}</td>
                    <td>{{i.price}}</td>
                    <td>{{i.gst}}</td>
                    <td>{{i.total}}</td>
                </tr>
                {% endfor %}
            <br>

                <td colspan="7">
                    GRAND TOTAL:
                </td>
                <td><p align="left" id="grand_total" style="font-size:30px; padding-right: 20px;font-weight: bold; color:white;">0</p></td>
            </table>
            </div>
    </div>
    </div>
</section>
<script>
   var elmnt = document.getElementById("result");
    elmnt.scrollIntoView();
    grand();
    function abc()
    {
    console.log("121312");
    }
    function grand(){
    	var sum = 0;
    	var x = document.getElementById("bill_table").rows;
    	for(var i=1;i<x.length-1;i++){
    		sum+=parseFloat(x[i].cells[7].innerHTML);
    	}
    	x = document.getElementById("grand_total");
    	x.innerHTML = sum;

    }
</script>
{% endif %}
<script>
    function myfunct(obj)
    {
    var id=obj.value;
    document.getElementById('customer_id').value=id;
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}