<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View rejected</title>
</head>
<body>
<h1>Rejected Applications:</h1>
<br>
<table border="2" width="100%">
    <tr>
        <th>Rejection Date & Time</th>
        <th>Advertisement ID</th>
        <th>Customer Name</th>
        <th>Customer ID</th>
        <th>Heading</th>
        <th>Comments</th>
    </tr>
    {% for i in reject %}
    <tr>
        <td>{{i.rej_date}}</td>
        <td align="center">{{i.ad_id}}</td>
        <td>{{i.cust_name}}</td>
        <td>{{i.cust_id}}</td>
        <td>{{i.ad_header}}</td>
        <td>{{i.desc}}</td>
    </tr>

    {% endfor %}

</table>
</body>
</html>